h1, h3 {
    text-align: center;
    font-size: 30px;
}

body {
    background-image: url("https://wallpapercave.com/wp/wp1993619.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
}

